.logo{
	height: 150%;
	margin-top: -0.8em;
	position: relative;
}
.sidebar-a{
	width: 15%;
	margin: 25px;
	/* height: inherit; */
	min-height: 350%;
	float: right;
}
body{
	margin-left: 10% !important;
	margin-right: 10% !important;
	margin-top: 1% !important; 
	margin-bottom: 1% !important;
}
